<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">


    <context:property-placeholder location="classpath*:/application.properties"/>
    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射-->
    <context:annotation-config/>

    <!-- 启动包扫描功能，以便注册带有@Service、@repository、@Component等注解的类成为spring的bean -->
	<context:component-scan base-package="indi.dsb.hardware">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>


    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.driverClass}"/>
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.user}" />
        <property name="password" value="${db.password}" />

        <property name="maxActive" value="${db.maxActive}" />
        <property name="initialSize" value="${db.initialSize}" />
        <property name="maxWait" value="${db.maxWait}" />
        <property name="minIdle" value="${db.minIdle}" />

        <!-- Interval (ms) for check and close idle connection, 3000 -->
        <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEviction}" />
        <!-- Connection life time (ms) in this dataSource, 300000 -->
        <property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdle}" />

        <!--<property name="validationQuery" value="SELECT 'x' FROM DUAL" />-->
        <property name="testWhileIdle" value="${db.testWhileIdle}" />
        <property name="testOnBorrow" value="${db.testOnBorrow}" />
        <property name="testOnReturn" value="${db.testOnReturn}" />
    </bean>

    <mvc:annotation-driven/>
    <mvc:resources mapping="/common/images/**" location="common/images/" cache-period="2592000"/>

    <task:annotation-driven/>

</beans>